<form id="search-form">
  <div id="autocomplete"></div>

  <div class="divider"></div>

  <div class="form-group date">
    <input
      type="text"
      id="data-inicial"
      name="data-inicial"
      placeholder=" "
      autocomplete="off"
    />
    <label for="data-inicial">Check-in</label>
  </div>

  <div class="divider"></div>

  <div class="form-group date">
    <input
      type="text"
      id="data-final"
      name="data-final"
      placeholder=" "
      autocomplete="off"
    />
    <label for="data-final">Check-out</label>
  </div>

  <button type="submit">
    <img src="/assets/icons/search.svg" alt="Buscar" />
  </button>
</form>
